# Gitignore
~$README.docx
ControllerSchematic.pptx

# Compiled code, unnecessary for git
Source/Obj_win32
Source/Obj_lin64
*.mod
Source/x64/
Source/Release/
Build/

# Archive
Scripts/CompileDISCONHereCopyRun\.cmd
\.vs/

# Temp Files
*~
.DS_Store
*.u2d