# Requirements list for wisdem

# simulation
matplotlib
numpy
scipy
openmdao>=3.18
simpy
marmot-agents
cython
jsonschema
make
openpyxl
swig
compilers

# docs
sphinx>2.0
numpydoc
sphinxcontrib.bibtex<2.0.0
sphinx-rtd-theme
# sphinx-autoapi
