# Requirements list for wisdem

# simulation
matplotlib
numpy
scipy
openmdao>=2.0
simpy
marmot-agents

# docs
sphinx>2.0
numpydoc
numpydoc
sphinxcontrib.bibtex
sphinx-rtd-theme
# sphinx-autoapi